legend {
    text-align: center;
}

.loginform .new_singer .new_database{
    box-sizing: border-box;
    margin-left: 35%;
    margin-right: 35%;
}

label {
    width: 120px;
    display: inline-block;
    text-align: left;
}
table {
    margin: auto;
}
